* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color:black;
    padding: 20px;
    line-height: 1.6;
}

#int {
    text-align: center;
    background-color: aqua;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
    margin-left: 2%;

}

#ok {
    max-width :250px;
    /* padding-right: 20px; 
    display: flex;
    flex-direction: column;
    flex-grow:10;
    flex-wrap: nowrap; */
}

.img { 
    max-width: 18rem;
    border-radius: 49%;
    object-fit:cover; 
    height: auto;
    margin-left: 2rem;
}

.skills-container {
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.skills-box {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,3fr));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    margin-left: 2%;
}

.skill-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    max-width: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#qt{
    font-weight: bold;
    
}
.proj{
    margin-left: 2%;
    margin-right: 2%;
}
.cards-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    margin-left: 2%;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width:85%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
}
#rt{
    font-weight: bold;
    font-size: 20px;
}

#tq{
    text-decoration:underline;
    font-size: 16px;
}
.contact {
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.form-group {
    margin-bottom: 10px;
    font-weight: 16px;
}
 #name{
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 15px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}
.btn-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

#renu {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
hr {
    border:  3px solid aqua;
    border-radius: 2px;
    height: 2px;
    margin: 20px 0;
    width: 100%;
}
@media(max-width:678px) {
    .card{
        max-width:50%;
    }
    .img { 
        max-width: 10rem;
        border-radius: 49%;
        object-fit:cover; 
        height: auto;
        margin-left: 2rem;
    }
    .okk {
        border:  3px solid aqua;
        border-radius: 2px;
        height: 2px;
        margin: 20px 0;
        width: 100%;
    }
}